<h2 matDialogTitle class="primary-color">Open Project</h2>

<mat-dialog-content class="accent-color">
    <p></p>
    <mat-select placeholder="Project Name" [(ngModel)]="selectedProject">
        <mat-option *ngFor="let Name of projectNames" [value]="Name.key">
           {{Name.value}}
        </mat-option>
    </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">OK</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>