<!-- Main container -->
<div class="container-fluid mt-2" style="height:83vh;">

  <!-- Main row -->
  <div class="row">
    <!-- Deliverables column -->
    <div class="col-sm-8 scroll-able">

      <!-- Deliverables form and Phase Info container-->
      <div class="container">
        <h5 style="text-align:center;">Consultant's Progress Assessment</h5>

        <div class="row">

          <form class="ml-4 mt-2 mb-2" [formGroup]="workProgressFormGroup" novalidate style="width:100%">

            <div class="row align-items-center">
              <div class="col-sm-6">
                <mat-form-field style="display:block">
                  <mat-select placeholder="Deliverable" id="deliverables" formControlName="deliverableControl">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let deliverable of computeService.contractDeliverables" [value]="deliverable.id">
                      {{deliverable.deliverableLookup.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4" *ngIf="currentPhase">
                {{currentPhase.name}}, {{currentPhase.description}}
              </div>
            </div>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Assessment date" formControlName="assessmentDateControl">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input autocomplete="off" matInput #workCompleted placeholder="Service completed (%)" value="0.00" formControlName="percentageControl">
              </mat-form-field>

              <mat-form-field class="ml-5" *ngIf="workCompleted.value && workCompleted.value >= 60">
                <input matInput [matDatepicker]="approvalPicker" placeholder="Date draft submitted" formControlName="submissionDateControl">
                <mat-datepicker-toggle matSuffix [for]="approvalPicker"></mat-datepicker-toggle>
                <mat-datepicker #approvalPicker></mat-datepicker>
              </mat-form-field>

            </div>

            <div>
              <mat-form-field>
                <input autocomplete="off" matInput placeholder="Monetary value" value="0.00" formControlName="monetaryValueControl">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-select placeholder="Reason" id="reason" formControlName="reasonControl">
                  <mat-option>--</mat-option>
                  <mat-option [value]="'Progress'">Progress</mat-option>
                  <mat-option [value]="'Minutes of Meeting'">Minutes of Meeting</mat-option>
                  <mat-option [value]="'Letter'">Letter</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="ml-5" style="width: 50%;">
                <textarea matInput placeholder="Detailed reason" formControlName="detailedReasonControl" matTextareaAutosize matAutosizeMinRows="1"
                  matAutosizeMaxRows="4"></textarea>
              </mat-form-field>
            </div>
          </form>

        </div>
     
        <!-- Commands -->
        <div class="row justify-content-left m-2">
          <button mat-raised-button [disabled]="!getCanDelete()" color="warn" (click)="delete()">{{deleteResetLabel}}</button>
          <button mat-raised-button [disabled]="!workProgressFormGroup.valid" color="primary" class="ml-2" (click)="save()">{{addAmendLabel}}</button>
        </div>

        <!-- Consultant's Performance Table -->
        <div class="row">

          <div class="col-12 table-container">
              <span style="color:blue;font-size: 0.80rem;">* All money figures are notional for the purpose of PAP computation</span>
              <span style="color:blue;display:block;font-size: 0.80rem;">* All money figures are in ETB thousands</span>
            <mat-table #table [dataSource]="dataSource">

              <!-- name Column -->
              <ng-container matColumnDef="deliverable">
                <mat-header-cell *matHeaderCellDef> Deliverable </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deliverable.deliverableLookup.description}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="assessmentDate">
                <mat-header-cell *matHeaderCellDef> Assessment Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.assessmentDate | date }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="percentage">
                <mat-header-cell *matHeaderCellDef> Percentage Completed </mat-header-cell>
                <mat-cell class="text-right pr-3"  *matCellDef="let element"> {{element.percentComplete}}% </mat-cell>
              </ng-container>

              <ng-container matColumnDef="monetaryValue">
                <mat-header-cell *matHeaderCellDef> Monetary Value </mat-header-cell>
                <mat-cell class="text-right pr-3" *matCellDef="let element"> {{element.monetaryValue/1000 | number:'1.0-0'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cumPhasePercentage">
                  <mat-header-cell *matHeaderCellDef> Percentage of phase </mat-header-cell>
                  <mat-cell class="text-right pr-3" *matCellDef="let element"> {{element.phaseCumulativePercentage | number:'1.1-1'}}% </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="cumPhaseMonetaryValue">
                  <mat-header-cell *matHeaderCellDef> Total to date (Phase)</mat-header-cell>
                  <mat-cell class="text-right pr-3" *matCellDef="let element"> {{(element.phaseCumulativeMoney)/1000 | number:'1.0-0'}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="cumContractPercentage">
                  <mat-header-cell *matHeaderCellDef> Percentage of contract</mat-header-cell>
                  <mat-cell class="text-right pr-3" *matCellDef="let element"> {{element.contractCumulativePercentage | number:'1.0-1'}}% </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="cumContractMonetaryValue">
                  <mat-header-cell *matHeaderCellDef> Total to date (Contract)</mat-header-cell>
                  <mat-cell class="text-right pr-3" *matCellDef="let element"> {{(element.contractCumulativeMoney)/1000 | number:'1.0-0'}} </mat-cell>
                </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>

      </div>
      <!-- End Deliverables container -->
    </div>

    <!-- Information Panel column-->
    <div class="col-sm-4 ml-auto scroll-able">

      <app-phase-side-info [phases]="contractService.contract.phases"></app-phase-side-info>

      <div class="mt-2" style="justify-content: space-around;display: flex;">
        <button class="btn btn-secondary" (click)="openContract(true)">Open another contract</button>
      </div>

      <!-- Chart -->
      <app-work-progress-chart [consultantsPerformances]="consultantsPerformances" [consultantsPrograms]="consultantsPrograms"
        class="m-1"></app-work-progress-chart>
    </div>

  </div>
</div>