<div class='container'>
    <div>
        <h3 style="text-align:center;">Payment and
            Budget status of Road Construction Projects IPCs </h3>
    </div>
    <div class="row">
        <div class="col-sm-15" style="width:75%">
            <form [formGroup]="paymentform" novalidate>
                <div class="d-flex flex-row">
                    <div class="col-l-6" style="width:30%">
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dateRecived" placeholder="Date Recived"
                                    formControlName="dateRecivedcontrol">
                                <mat-datepicker-toggle matSuffix [for]="dateRecived"></mat-datepicker-toggle>
                                <mat-datepicker #dateRecived></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Payee To *" type="text" class="example-right-align"
                                    formControlName="payeeControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Financed By *" #financedByControl (click)="financedByList()"
                                    formControlName="financedByControl"
                                    (selectionChange)="dateProccess(financedByControl)">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of
                                    this.arrfinancedBy" [value]="mes.financedByname">
                                        {{mes.financedByname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-mini-fab color="primary" class="ml-3"
                                (click)="addfinancedbyDialog()">New</button>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Region" formControlName="regionControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of region" [value]="mes">
                                        {{mes}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="IPCINV No *" type="text" class="example-right-align"
                                    formControlName="IPCINVControl">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-l-5" style="width:30%">
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Type" formControlName="typeControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of type" [value]="mes">
                                        {{mes}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Expected Date To
                                    Process *" type="text" class="example-right-align"
                                    formControlName="expectedDateToProcessControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Expexted Pay Date *" type="text"
                                    class="example-right-align" formControlName="expectedDateToPayeControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Status" formControlName="statusControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of status" [value]="mes">
                                        {{mes}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Counter Accountant
                                    *" type="text" class="example-right-align"
                                    formControlName="counterAcountantControl">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-l-5">
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Team No" formControlName="teamControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of team" [value]="mes">
                                        {{mes}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Team Leader *" type="text" class="example-right-align"
                                    formControlName="teamLeaderControl">
                            </mat-form-field>
                        </div>

                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dateReturn" placeholder="Date Return *"
                                    formControlName="dateReturnControl">
                                <mat-datepicker-toggle matSuffix [for]="dateReturn"></mat-datepicker-toggle>
                                <mat-datepicker #dateReturn></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-radio-group formControlName="paidControl">
                                <div style="align-content: center">Paid
                                    <mat-radio-button value="1" #yes>yes</mat-radio-button>
                                    <mat-radio-button value="0" #No>No</mat-radio-button>
                                    <div *ngIf="yes.checked">
                                    </div>

                                    <div *ngIf="No.checked">
                                    </div>
                                </div>
                            </mat-radio-group>
                        </div>
                        <div class="row ml-1">                           
                            <mat-form-field>
                                <mat-select placeholder="Remark  *" formControlName="remarkControl"  (click)="remarkList()">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of
                                    this.remark" [value]="mes.remarkName">
                                        {{mes.remarkName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-mini-fab color="primary" class="ml-3" (click)="addremarkDialog()">New</button>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center m-1">
                    <button mat-raised-button  color="primary" class="ml-3"
                        (click)="save()">{{addAmendLabel}}</button>
                    <button mat-raised-button [disabled]="!getCanDelete()" color="warn" class="ml-3"
                        (click)="removePaymentFromList()">{{deleteResetLabel}}</button>
                </div>
            </form>
        </div>

        <div class="col-sm-3 mt-3">
            <div id="accordion" role="tablist">
                <!-- Contract Information-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Project Information
                            </a>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body">
                            <label class="card-subtitle mb-2 text-muted">
                                <h6>Project Name:
                                    {{projectSharedService.project.name}}</h6>
                            </label>
                            <br />
                            <br />
                            <label class="card-subtitle mb-2 text-muted">
                                <h6>Project Number:
                                    {{projectSharedService.project.number}}</h6>
                            </label>

                            <br />
                            <br />
                            <label class="card-subtitle mb-2 text-muted">
                                <h6>Road Length:
                                    {{projectSharedService.project.roadLength}}</h6>
                            </label>
                            <button mat-raised-button (click)="openProject()">Open
                                another project </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="width:2%">
    </div>
    <div style="width:96%">
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="width: 30px;"> ID </th>
                    <td mat-cell *matCellDef="let element" style="width: 30px;"> {{element.id}}
                    <td>
                </ng-container>

                <ng-container matColumnDef="ProjectName">
                    <th mat-header-cell *matHeaderCellDef style="width: 250px;">Project Name </th>
                    <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.projectName}}</td>
                </ng-container>

                <ng-container matColumnDef="dateRecived">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Date
                        Recived </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.dateRecived | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="financedBy">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Financed By </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.financedBy}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Region </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.region}} </td>
                </ng-container>

                <ng-container matColumnDef="ipcinv">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> IPCINV </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.ipcinv}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Type</th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Status</th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="dateToprocess">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Date To
                        process </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.dateToprocess | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="payDate">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Date To
                        Pay </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.payDate | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="counterAccount">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Counter
                        Account </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.counterAccount}} </td>
                </ng-container>

                <ng-container matColumnDef="team">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Team
                    </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.team}} </td>
                </ng-container>

                <ng-container matColumnDef="teamLeader">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Team
                    </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.teamLeader}} </td>
                </ng-container>

                <ng-container matColumnDef="dateReturn">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Date
                        Return </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.dateReturn | date: 'MM/dd/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Remark
                        Return </th>
                    <td mat-cell *matCellDef="let element" style="width: 100px;">
                        {{element.remark}} </td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row (click)="selectPayment(row)" *matRowDef="let row;
                    columns:
                    displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,
                length]">
            </mat-paginator>
        </div>
        <div style="width:2%">
        </div>
    </div>