<div class="embedded-component ml-4" style="width:90%;height:90%">
  <h4 style="text-align:center;">Work load Information</h4>
  <div class="row">
    <div class="row table-container mt-3">
      <mat-table #table [dataSource]="dataSource" style="width:100%">
        <ng-container matColumnDef="contractName">
          <mat-header-cell *matHeaderCellDef> Name Of Contract </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.contractName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="consultantName">
          <mat-header-cell *matHeaderCellDef> Name of Consultant </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.firm}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="keyStaffNames">
          <mat-header-cell *matHeaderCellDef> Name of the Staff </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <li *ngFor="let staff of element.staff; let i = index">
              {{i}} {{staff.fullName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="staffPositions">
          <mat-header-cell *matHeaderCellDef> Position of The Key Staff  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.staff[0].position}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contractType">
          <mat-header-cell *matHeaderCellDef> Type of Contract </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.contractType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="staffAssignmentPersentages">
          <mat-header-cell *matHeaderCellDef>The %age Completion of Specific Assignment of the Staff </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.staffAssignmentPersentage}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="projectComplitionPersentage">
          <mat-header-cell *matHeaderCellDef> The %age Completion of the Contract </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.progressPerformance}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="col-sm-8">
    <mat-form-field style="display:block">
      <mat-select placeholder="keyStaffName" (change)="fetchContractPerKeyStaff()" [(ngModel)]="selectedKeyStaff">
        <mat-option></mat-option>
        <mat-option *ngFor="let KeyStaffName of keyStaffNames" [value]="KeyStaffName.staffID">
          {{KeyStaffName.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="contractprogress">
    <div *ngIf="contractprogress.Staff">
      <span>{{contractprogress.Staff[0].fullName}}</span>
      <span>{{contractprogress.Staff[0].position}}</span>
    </div>
  </div>

  <div class="embedded-component ml-4" style="width:90%;height:90%">
    <h4 style="text-align:center;">Key Staff Realted Contracts Information</h4>
    <div class="row">
      <div class="row table-container mt-3">
        <mat-table #table [dataSource]="staffDataSource" style="width:100%">

          <ng-container matColumnDef="contractNames">
            <mat-header-cell *matHeaderCellDef> Name Of Contract </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contractName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="consultantNames">
            <mat-header-cell *matHeaderCellDef> Name of Consultant </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firm}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="contractTypes">
            <mat-header-cell *matHeaderCellDef> Type of Contract </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contractType}} </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="staffAssignmentPersentage">
            <mat-header-cell *matHeaderCellDef>The %age Completion of Specific Assignment of the Staff </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.staffAssignmentPersentage}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="projectComplitionPersentages">
            <mat-header-cell *matHeaderCellDef> The %age Completion of the Contract </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.progressPerformance}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="staffDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: staffDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>