<div class="currency-dialog">
  <h2 matDialogTitle class="primary-color">Currency Breakdown</h2>

  <mat-dialog-content class="accent-color">

    <div>
      <mat-form-field style="width:90%">
        <input matInput disabled="true" placeholder="Type" [(ngModel)]="currencyBreakdown.type">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width:90%">
        <input autocomplete="off" matInput placeholder="Amount" [(ngModel)]="currencyBreakdown.amount">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:90%">
        <mat-select placeholder="Currency" [(ngModel)]="currencyBreakdown.currency">
          <mat-option *ngFor="let currency of currencyBreakdown.currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:90%">
        <input disabled matInput placeholder="Exchange rate (Notional for PAP only)" [(ngModel)]="currencyBreakdown.exchangeRate">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width:90%">
        <input  autocomplete="off" matInput placeholder="ETB Equivalent (Notional for PAP only)" [ngModel]="currencyBreakdown.etbAmount | currency: 'ETB '"
          (ngModelChange)="currencyBreakdown.etbAmount=$event" [disabled]="true">
      </mat-form-field>
    </div>

    <div class="row table-container mt-3">
      <mat-table #table [dataSource]="dataSource" style="width:100%">
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="currency">
          <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.currency}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="exchangeRate">
          <mat-header-cell *matHeaderCellDef> Exchange Rate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.exchangeRate | currency:'ETB '}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="etbAmount">
          <mat-header-cell *matHeaderCellDef> ETB Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.etbAmount | currency:'ETB '}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="selectBreakdown(breakdown)" *matRowDef="let breakdown; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-dialog-content>
 
  <mat-dialog-actions>
    <button mat-raised-button color="primary"  (click)="save()">{{addAmendLabel}}</button>
    <button mat-button color="warn" (click)="delete()">{{deleteResetLabel}}</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </mat-dialog-actions>

</div>