<div class="scroll-able">
  <router-outlet></router-outlet>
</div>
<hr>
<div class="mt-2">
  <button class="ml-3" mat-raised-button color="secondary" (click)="back()">Back to supplements list</button>
  <button class="ml-3" mat-raised-button color="primary" (click)="createPhase()">Create phase</button>
  <button class="ml-3" mat-raised-button color="primary" (click)="modifyPhase()">Modify phase</button>
  <button class="ml-3" mat-raised-button color="primary" (click)="editDeliverable()">Edit phase deliverables</button>
</div>