<h2 matDialogTitle class="primary-color">Open User</h2>

<mat-dialog-content class="accent-color">
  <p></p>
  <mat-select placeholder="Project Name" [(ngModel)]="selectedUser">
    <mat-option *ngFor="let Name of userNames" [value]="Name.userId">
      <span class="box2"> {{Name.userName}}</span>
      <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
      <span class="box1"> {{Name.firstName}}</span> 
       {{ Name.lastName  }}
    </mat-option>
  </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">OK</button>
  <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>