<div class="info-panel" id="accordion" role="tablist">
  <!-- Contract Information-->
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Original Contract Information
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h6> {{contractService.contract.name}} </h6>

        <h6 style="display:inline">Contract Number:</h6>
        <label class="card-subtitle mb-2 text-muted"> {{contractService.contract.number}} </label>
        <br/>

        <h6 style="display:inline">Consultant:</h6>
        <label class="card-subtitle mb-2 text-muted">{{ contractService.contract.consultantName }}</label>
        <br/>

        <h6 style="display:inline">Contract Amount:</h6>
        <label class="card-subtitle mb-2 text-muted"> {{contractService.contract.contractAmount | currency:'ETB '}}</label>
      </div>
    </div>
  </div>
  <!--  Original Phase Information-->
  <div class="card mt-1">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="true" aria-controls="collapseTwo">
          Original Contract Phases
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div *ngFor="let phase of phases">
          <h6>{{ phase.name }}, {{ phase.description }}</h6>

          <h6 style="display:inline">Amount:</h6>
          <label class="card-subtitle mb-2 text-muted"> {{ phase.lumpSum + phase.reimbursable | currency:'ETB ' }}</label>
          <div></div>
          <h6 style="display:inline">Period </h6>
          <label class="card-subtitle mb-2 text-muted"> From: {{ phase.startDate | date:'dd-MMM-yy' }}</label>
          <label class="card-subtitle mb-2 text-muted"> To: {{ phase.endDate | date:'dd-MMM-yy' }}</label>
          <div></div>
          <h6 style="display:inline">Advance taken: </h6>

          <label class="card-subtitle mb-2 text-muted" *ngIf="phase.isAdvanceNotTaken; else elseBlock"> No</label>
          <ng-template #elseBlock>Yes</ng-template>
          <hr>
        </div>

        <div *ngIf="!phasesValid">
          <label style="color:red">The sum of money of the contract phases does not equate the awarded contract sum. You cannot continue to input
            deliverables before completing the contract phases. </label>
        </div>
      </div>
    </div>
  </div>

  <!--  Supplements -->
  <div class="card mt-1">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseTwo">
          Supplements
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div *ngFor="let supplement of supplements">
          <div class="card-subtitle mb-2 text-muted">#{{ supplement.number }}, {{ supplement.name }}</div>

          <h6 style="display:inline">Agreement Date:</h6>
          <label class="card-subtitle mb-2 text-muted"> {{ supplement.agreementDate | date }}</label>

          <div *ngIf="supplement.phases && supplement.phases.length > 0; else elseBlock" class="card-body">
            <div *ngFor="let phase of supplement.phases">
              <h6>{{ phase.name }}, {{ phase.description }}</h6>

              <h6 style="display:inline">Amount:</h6>
              <label class="card-subtitle mb-2 text-muted"> {{ phase.lumpSum + phase.reimbursable | currency:'ETB ' }}</label>
              <div></div>
              <h6 style="display:inline">Period </h6>
              <label class="card-subtitle mb-2 text-muted"> From: {{ phase.startDate | date:'dd-MMM-yy' }}</label>
              <label class="card-subtitle mb-2 text-muted"> To: {{ phase.endDate | date:'dd-MMM-yy' }}</label>
              <div></div>
              <h6 style="display:inline">Advance taken: </h6>

              <label class="card-subtitle mb-2 text-muted" *ngIf="phase.isAdvanceNotTaken; else elseBlock"> No</label>
              <ng-template #elseBlock>Yes</ng-template>
              <hr>
            </div>
          </div>
          <ng-template #elseBlock>
            <div style="color:red">No phases exist for this supplement</div>
          </ng-template>
          <hr/>
        </div>
      </div>
    </div>
  </div>

</div>