<kendo-chart>
    <kendo-chart-value-axis>
        <kendo-chart-axis-defaults>
            <kendo-chart-axis-defaults-labels format="N0">
            </kendo-chart-axis-defaults-labels>
        </kendo-chart-axis-defaults>
    </kendo-chart-value-axis>
    <kendo-chart-series>
        <kendo-chart-title text="Consultant's Activity Schedule (In ETB '000')"></kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal">Activity Schedule</kendo-chart-legend>
        <kendo-chart-series-item type="line" [data]="data" field="contractAmountToDate" categoryField="date" [labels]="{ format: 'N'}">
            <kendo-chart-series-item-tooltip format="ETB {0:N0}">
            </kendo-chart-series-item-tooltip>
        </kendo-chart-series-item>
    </kendo-chart-series>

    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [maxDivisions]="12" [labels]="{ format: 'dd-MMM-yy', rotation: '-90' }">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
</kendo-chart>