<div class="info-panel" id="accordion" role="tablist">
  <!-- Contract Phases-->
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Contract Phases
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div *ngFor="let phase of phases">
          <h4>{{ phase.name }}, {{ phase.description }}</h4>

          <h6 style="display:inline">Amount:</h6>
          <label class="card-subtitle mb-2 text-muted"> {{ phase.lumpSum + phase.reimbursable | currency:'ETB ' }}</label>
          <div></div>
          <h6 style="display:inline">Period </h6>
          <label class="card-subtitle mb-2 text-muted"> From: {{ phase.startDate | date:'dd-MMM-yy' }}</label>
          <label class="card-subtitle mb-2 text-muted"> To: {{ phase.endDate | date:'dd-MMM-yy' }}</label>
          <div></div>
          <h6 style="display:inline">Advance taken: </h6>

          <label class="card-subtitle mb-2 text-muted" *ngIf="phase.isAdvanceNotTaken; else elseBlock"> No</label>
          <ng-template #elseBlock>Yes</ng-template>
          <hr>
        </div>

        <div *ngIf="!phasesValid">
          <label style="color:red">The sum of money of the contract phases does not equate the awarded contract sum. You cannot continue to input
            deliverables before completing the contract phases. </label>
        </div>

        <div *ngIf="programExists">
          <label style="color:red">Activity schedule is present for this contract. You cannot continue to input deliverables before deleting the schedule.
            </label>
        </div>
      </div>
    </div>
  </div>

  <!--  Contract Information -->
  <div class="card mt-2">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
          Contract Information
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <label class="card-subtitle mb-2 text-muted">
          <h6>Contract Name:</h6> {{contractService.contract.name}} </label>
        <br/>
        <br/>
        <label class="card-subtitle mb-2 text-muted">
          <h6>Consultant:</h6> {{ contractService.contract.consultantName }}</label>

        <br/>
        <br/>
        <label class="card-subtitle mb-2 text-muted">
          <h6>Contract Amount:</h6> {{contractService.contract.contractAmount | currency:'ETB '}}</label>
      </div>
    </div>
  </div>
</div>