th,td {
    font-size: 13px;
    min-height: 48px;
    /* text-align: center; */

    /* border-right: 1px solid orange;
    border-left: 1px solid orange;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange; */
}
th.mat-sort-header-sorted {
    color: black;
  }