<div class='container'>
    <div>
        <h3 style="text-align:center;">User Administration </h3>
    </div>
    <div class="row">
        <div class="col-sm-15" style="width:75%">
            <form [formGroup]="userCreateForm" novalidate>
                <div class="d-flex flex-row">
                    <div class="col-sm-5" style="width:30%">
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="First Name*" type="text" class="example-right-align"
                                    formControlName="firstNameControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Last Name *" type="text" class="example-right-align"
                                    formControlName="lastNameControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="UserName*" type="text" class="example-right-align"
                                    formControlName="userNameControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Postion" formControlName="positionControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of this.position" [value]="mes.position">
                                        {{mes.position}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-5">
                        <div class="row ml-1">
                            <mat-form-field>
                                <mat-select placeholder="Directorate" formControlName="directorateControl">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let mes of this.directorate" [value]="mes.directorate">
                                        {{mes.directorate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Badge Number*" type="text" class="example-right-align"
                                    formControlName="badgeNumberControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Telephone No *" type="text" class="example-right-align"
                                    formControlName="telephoneControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Password*" type="password" class="example-right-align"
                                    formControlName="passwordControl">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row ml-1">
                            <mat-form-field>
                                <input matInput placeholder="Email *" type="text" class="example-right-align"
                                    formControlName="emailControl">
                            </mat-form-field>
                        </div>
                        <div class="row ml-1">
                            <mat-checkbox formControlName="isApprovedControl" value="falseValue"
                                (change)="checkboxChange($event.source, $event.checked)"> Is Approved
                            </mat-checkbox>
                        </div>
                        <div class="row ml-1">
                            <mat-checkbox formControlName="isLockedOutControl" value="falseValue"
                                (change)="checkboxChange($event.source, $event.checked)"> Is LoackedOud(ReadOnly)
                            </mat-checkbox>
                        </div>
                    </div>                  
                </div>
                <div class="d-flex justify-content-center m-1">
                    <button mat-raised-button color="primary" class="ml-3" (click)="save()">{{addAmendLabel}}</button>
                    <button mat-raised-button [disabled]="!getCanDelete()" color="warn" class="ml-3"
                        (click)="removeUserFromList()">{{deleteResetLabel}}</button>
                    <!-- <button mat-raised-button color="primary" class="ml-3">{{addAmendLabel}}</button> -->
                    <!-- <button mat-raised-button color="warn" class="ml-3">{{deleteResetLabel}}</button> -->
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search the user">
        </mat-form-field>
        <div style="width: 100%;">
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="badgeNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> BadgeNumber </th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.badgeNumber}}</td>
                    </ng-container>

                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;">UserName </th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.userName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> First Name</th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;">{{element.firstName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> Last Name </th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="directorate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> Directorate </th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.directorate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> Position </th>
                        <td mat-cell *matCellDef="let element" style="width: 250px;"> {{element.position}} </td>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row (click)="selectUser(row)" *matRowDef="let row;
                        columns:
                        displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,
                    length]">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>