.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.table-container {
  max-height: 400px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
}

.app-title {
  margin-top: .3rem;
}

.user-detail {
  font-size: 75%;
  margin-top: .3rem;
}


