<mat-sidenav-container fullscreen>
  <mat-sidenav #sideNav style="width:300px;margin-top:4rem">
    <!-- sidenav content -->
    <button class="mb-1 mt-1 btn-block btn-secondary" *ngFor="let entry of menuEntries" routerLink={{entry.RoleName}}
      (click)="sideNav.toggle()">
      <div class="container">

        <div class="row justify-content-left">{{ entry.RoleName }}</div>
        <div class="row justify-content-left" style="color:rgba(214, 211, 240, 0.938)">{{ entry.LoweredRoleName }}</div>
      </div>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- primary content -->
    <mat-toolbar style="background-color:orange">
      <mat-toolbar-row>

        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <span class="app-title">PAYMENT</span>

        <span class="spacer"></span>

        <span class="user-detail" *ngIf="authService.isAuthenticated; else elseBlock">
          Welcome {{user.firstName}} {{user.lastName}}, {{user.directorate}}  directorate , {{user.userName}}
          <button mat-raised-button color="primary" (click)="logout()">
            Logout </button>
        </span>


        <ng-template class="user-detail" #elseBlock>
          <div style="color:red;"></div>
          <div>

          </div>
          <button mat-icon-button (click)="LoginDialog()">

            <mat-icon aria-label="Menu">menu</mat-icon>
          </button>

        </ng-template>

        <button mat-icon-button routerLink="/home">
          <mat-icon aria-label="Home">home</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <span *ngIf="!authService.isAuthenticated; else false">
      <app-report></app-report>
    </span>

    <span *ngIf="authService.isAuthenticated; else false">
      <router-outlet></router-outlet>
    </span>
  </mat-sidenav-content>

</mat-sidenav-container>