<!-- Main container -->
<div class="container-fluid mt-2" style="height:83vh;">

  <!-- Main row -->
  <div class="row">
    <!-- Deliverables column -->
    <div class="col-sm-8 scroll-able">

      <!-- Deliverables form and Phase Info container-->
      <div class="container">
        <h5 style="text-align:center;">Consultant’s Planned Service Programme</h5>

        <div class="row align-items-center">
          <div class="col-9">
            <form class="ml-4 mt-2 mb-2" [formGroup]="workProgramFormGroup" novalidate style="width:100%;">

              <div class="row align-items-center">
                <div class="col-sm-8">
                  <mat-form-field style="display:block;width:100%">
                    <mat-select placeholder="Deliverable" id="deliverables" formControlName="deliverableControl">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let deliverable of computeService.contractDeliverables" [value]="deliverable.id">
                        {{deliverable.deliverableLookup.description}} ({{deliverable.contractPhase.name}})
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4" *ngIf="currentPhase">
                  {{currentPhase.name}}, {{currentPhase.description}}
                </div>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="dateControl">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input autocomplete="off" matInput type="number" min="0" max="100" placeholder="Cumulative percentage of deliverable" value="0.00"
                    formControlName="percentageControl">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Notional value of deliverable" value="0.00" formControlName="monetaryValueControl">
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-3 info-panel">
            <label style="color:blue">Deliverables page will be locked for edit once program entry commences. If you have to go back, you will need
              to delete all the data in the program. </label>
          </div>
        </div>

        <!-- Commands -->
        <div class="row justify-content-left m-2">
          <button mat-raised-button [disabled]="!getCanDelete()" color="warn" (click)="delete()">{{deleteResetLabel}}</button>
          <button mat-raised-button [disabled]="!workProgramFormGroup.valid" color="primary" class="ml-2" (click)="save()">{{addAmendLabel}}</button>
        </div>

        <!-- Consultant's Program Table -->
        <div class="row">

          <div class="col-12 table-container">
            <span style="color:blue;font-size: 0.80rem;">* All money figures are notional for the purpose of PAP computation</span>
            <span style="color:blue;display:block;font-size: 0.80rem;">* All money figures are in ETB thousands</span>
            <mat-table #table [dataSource]="dataSource">

              <!-- name Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="deliverable">
                <mat-header-cell *matHeaderCellDef> Deliverable </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deliverable.deliverableLookup.description}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="phase">
                <mat-header-cell *matHeaderCellDef> Phase </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deliverable.contractPhase.name}} </mat-cell>
              </ng-container>



              <ng-container matColumnDef="percentage">
                <mat-header-cell *matHeaderCellDef> Deliverable complete (%)</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.percentComplete | number:'1.0-0'}}% </mat-cell>
              </ng-container>

              <ng-container matColumnDef="deliverableMonetaryValue">
                <mat-header-cell *matHeaderCellDef> Cumulative of individual deliverables</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.monetaryValue/1000) | number:'1.0-0'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cumPhasePercentage">
                <mat-header-cell *matHeaderCellDef> Percentage of phase </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phaseCumulativePercentage | number:'1.0-1'}}% </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cumPhaseMonetaryValue">
                <mat-header-cell *matHeaderCellDef> Total to date (Phase)</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{(element.phaseCumulativeMoney/1000) | number:'1.0-0'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cumContractPercentage">
                <mat-header-cell *matHeaderCellDef> Percentage of contract</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contractCumulativePercentage | number:'1.0-1'}}% </mat-cell>
              </ng-container>

              <ng-container matColumnDef="cumContractMonetaryValue">
                <mat-header-cell *matHeaderCellDef> Total to date (Contract)</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contractCumulativeMoney/1000 | number:'1.0-0'}} </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>

      </div>
      <!-- End Deliverables container -->
    </div>

    <!-- Information Panel column-->
    <div class="col-sm-4 ml-auto scroll-able">

      <!-- Information panel -->
      <app-phase-side-info [phases]="contractService.contract.phases"></app-phase-side-info>

      <div class="mt-2" style="justify-content: space-around;display: flex;">
        <button class="btn btn-secondary" (click)="openContract(true)">Open another contract</button>
      </div>

      <!-- Chart -->
      <app-work-program-chart class="m-1" [consultantsPrograms]="consultantsPrograms"></app-work-program-chart>
    </div>

  </div>
</div>