<h2 style="text-align: center">New Financed By name</h2>
<form [formGroup]="newRemarkForm">
 <div>
    <mat-form-field>
      <input matInput placeholder="Remark *" type="text" class="example-right-align"
        formControlName="remarkNameControl">
    </mat-form-field>
</div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"  (click)="save()">{{addAmendLabel}}</button>
    <button mat-button (click)="close()">Cancel</button>
  </mat-dialog-actions>
</form>