<h2 matDialogTitle class="primary-color">New deliverable name</h2>

<mat-dialog-content class="accent-color">
  <mat-form-field style="width:80%;display:block;">
    <input autocomplete="off" matInput placeholder="Description" [(ngModel)]="deliverableName" name="desc" id="desc">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">Create</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>
