<div class="row" style="height:50%">
  <div class="col-sm-4">
    <!-- <app-chart></app-chart> -->
  </div>
  <div class="col-sm-4">
    <!-- <app-line-chart></app-line-chart> -->
  </div>
  <div class="col-sm-4">
  </div>
</div>
<div class="row" style="height:50%">
<!-- <app-grid-report></app-grid-report> -->
</div>