<h4 style="text-align:center;">List of Supplements</h4>
<div class="card mt-2 scroll-able">
  <div class="card-body" *ngIf="!noSupplements">
    <mat-list>
      <h6 *ngIf="contractService.contract">Supplements for: {{contractService.contract.name}}</h6>
      <hr/>
      <mat-list-item *ngFor="let supplement of computeService.supplements">

        <!-- <mat-icon mat-list-icon></mat-icon> -->
        <h4 mat-line>{{supplement.name}}</h4>
        <h4 mat-line>#{{supplement.number}}</h4>
        <p mat-line> {{supplement.agreementDate | date}} </p>
        <p mat-line> {{supplement.purpose}}</p>
        <mat-divider></mat-divider>
        <p mat-line class="mt-2">
          <button mat-raised-button color="primary" (click)="edit(supplement)">Edit supplement</button>
          <button mat-raised-button color="accent" (click)="editDetail(supplement)" class="ml-2">Create/Edit phases</button>
        </p>
       
      </mat-list-item>

    </mat-list>
  </div>

  <div class="m-5" *ngIf="!contractService.contract.id">
    <p style="color:red">No open contract</p>
  </div>

  <div class="m-5" *ngIf="contractService.contract.id && noSupplements">
    <p style="color:red">There are no supplemental agreements for this contract</p>
  </div>
</div>
<div>
  <button class="mt-2" mat-raised-button color="primary" (click)="createSupplement()">Create new</button>
  <button class="mt-2" mat-raised-button color="primary" (click)="effectiveContractState()">Show effective contract state</button>  
</div>