<div class='container'>
    <div>
        <h3 style="text-align:center;">User Allow Privilege </h3>
    </div>
    <form [formGroup]="userRoleForm" novalidate>
        <div class="row ml-1">
            <mat-form-field>
                <input matInput placeholder="UserName *" type="text" class="example-right-align"
                    formControlName="userNameListControl" [value]='this.userSharedService.user.userName'>
            </mat-form-field>

            <mat-form-field [hidden]="true">
                <input matInput placeholder="UserId *" type="text" class="example-right-align"
                    formControlName="userIdControl" [value]='this.userSharedService.user.userId'>
            </mat-form-field>
            <div> <button mat-raised-button color="primary" (click)="addroleDialog()">Add New Role</button></div>
        </div>
       
        <mat-checkbox  *ngFor="let mes of this.role; let i=index" type="checkbox"
       (change)="onChange(mes.roleId, $event.checked)"  class="row ml-1">
            {{mes.roleName}}
        </mat-checkbox>

        <div class="d-flex justify-content-center m-1">
            <!-- <button mat-raised-button color="primary" class="ml-3" (click)="save()">{{addAmendLabel}}</button>
            <button mat-raised-button [disabled]="!getCanDelete()" color="warn" class="ml-3"
                (click)="removeUserRoleFromList()">{{deleteResetLabel}}</button> -->
            <button mat-raised-button color="primary" (click)="save()" class="ml-3">{{addAmendLabel}}</button>
            <button mat-raised-button color="warn" [disabled]="!getCanDelete()" (click)="refreshForm()"
                class="ml-3">{{deleteResetLabel}}</button>
        </div>
    </form>

</div>