.scroll-able {
    height: 75vh;
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
}

.title, .sub-title {
    text-align: center;
}

.embedded-component h4 {
    font-size: 90%;
}

.embedded-component h5 {
    font-size:85%;
}

.embedded-component h6  {
    font-size: 80%;
}

h4, h5, h6 {
    margin-top: 2rem;
}

.currency {
    text-align: right
}

.col-2, label {
    font-size: 80%;
}