<div *ngIf="effectiveContractState" class="scroll-able embedded-component">
  <h3 class="title">Effective contract state</h3>
  <h4 class="sub-title">Changes to contract amount and time due to supplements</h4>

  <h5>Original contract phases</h5>
  <div class="mt-3" *ngFor="let phase of effectiveContractState.originalPhases">
    <mat-accordion expanded="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="mt-2">{{phase.name}}</h5>
          </mat-panel-title>
          <mat-panel-description>
            <h5 class="mt-2">{{phase.description}}</h5>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <div class="card-text">Start {{phase.startDate | date }} - End {{phase.endDate | date }}</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <h5>Supplemental phases</h5>
  <div class="mt-3" *ngFor="let phase of effectiveContractState.supplementPhases">
    <mat-accordion expanded="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5 class="mt-2">{{phase.name}}</h5>
          </mat-panel-title>
          <mat-panel-description>
            <h5 class="mt-2">{{phase.description}}</h5>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <div class="card-text">Start {{phase.startDate | date }} - End {{phase.endDate | date }}</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="card mt-1">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        Original contract dates and amount
      </h5>
    </div>
    <div role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
        <label class="card-subtitle mb-2 text-muted">
          Contract period {{effectiveContractState.originalStartDate | date }} - {{effectiveContractState.originalEndDate
          | date }} </label>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-2">Lump Sum</div>
            <div class="col-2 currency">{{effectiveContractState.originalLs | currency:'ETB ' }}
            </div>
          </div>
          <div class="row">
            <div class="col-2">Provisional Sum</div>
            <div class="col-2 currency">{{effectiveContractState.originalPs | currency:'ETB ' }}</div>
          </div>
          <div class="row">
            <div class="col-2">Reimbursable</div>
            <div class="col-2 currency">{{effectiveContractState.originalReimbursable | currency:'ETB ' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-1">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        Supplemental contract dates and amount
      </h5>
    </div>
    <div role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">
        <label class="card-subtitle mb-2 text-muted">
          Contract period {{effectiveContractState.supplementsStartDate | date }} - {{effectiveContractState.supplementsEndDate
          | date }} </label>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-2">Lump Sum</div>
            <div class="col-2 currency">{{effectiveContractState.supplementsLs | currency:'ETB ' }}
            </div>
          </div>
          <div class="row">
            <div class="col-2">Provisional Sum</div>
            <div class="col-2 currency">{{effectiveContractState.supplementsPs | currency:'ETB ' }}</div>
          </div>
          <div class="row">
            <div class="col-2">Reimbursable</div>
            <div class="col-2 currency">{{effectiveContractState.supplementsReimbursable | currency:'ETB ' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-1">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        Effective contract dates and amount
      </h5>
    </div>
    <div role="tabpanel" aria-labelledby="headingThree">
      <div class="card-body">
        <label class="card-subtitle mb-2 text-muted">
          Contract period {{effectiveContractState.supplementsStartDate | date }} - {{effectiveContractState.supplementsEndDate
          | date }} </label>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-2">Lump Sum</div>
            <div class="col-2 currency">{{effectiveContractState.effectiveLs | currency:'ETB ' }}
            </div>
          </div>
          <div class="row">
            <div class="col-2">Provisional Sum</div>
            <div class="col-2 currency">{{effectiveContractState.effectivePs | currency:'ETB ' }}</div>
          </div>
          <div class="row">
            <div class="col-2">Reimbursable</div>
            <div class="col-2 currency">{{effectiveContractState.effectiveReimbursable | currency:'ETB ' }}</div>
          </div>
          <div class="row">
            <div class="col-2">VAT</div>
            <div class="col-2 currency">{{effectiveContractState.effectiveVat | currency:'ETB ' }}</div>
          </div>
          <div class="row">
            <div class="col-2">Total</div>
            <div class="col-2 currency">{{effectiveContractState.effectiveTotal | currency:'ETB ' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!effectiveContractState">
    Computing ...
  </div>

  <div class="mt-2">
    <button mat-raised-button color="secondary" (click)="back()">Back to supplements list</button>
  </div>