<div class="row">
    <div style="width:2%">
    </div>
    <div style="width:96%">
        <div style="font-family:'Times New Roman';text-align: center">
            <h2>Payment and
                Budget status of Road Construction Projects IPCs </h2>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title style="background-color: red;">
                        Payment that not paid
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
                        <!-- id Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> S/No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
            
                        <!-- dateRecived Column -->
                        <ng-container matColumnDef="dateRecived">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date
                                Recived </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;text-align: center;">
                                {{element.dateRecived | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <!-- ProjectName Column -->
                        <ng-container matColumnDef="ProjectName">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Project Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
                        </ng-container>
            
                        <!-- financedBy Column -->
                        <ng-container matColumnDef="financedBy">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Financed By </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.financedBy}}
                            </td>
                        </ng-container>
            
                        <ng-container matColumnDef="region">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Region/Network </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.region}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="ipcinv">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> IPC /INV </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.ipcinv}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Type</th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.type}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="team">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Team
                            </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.team}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="dateToprocess">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date To
                                process </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.dateToprocess | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Status</th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.status}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="payDate">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Expexted Pay Date </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.payDate | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="counterAccount">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Counter
                                Account </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.counterAccount}} </td>
                        </ng-container>
            
            
                        <ng-container matColumnDef="teamLeader">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Team
                            </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.teamLeader}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="dateReturn">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date
                                Return </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.dateReturn | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,
                    length]">
                    </mat-paginator>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title style="background-color: green;">
                        Payment that  paid
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourcepaid" class="mat-elevation-z8">
            
                        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
                        <!-- id Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> S/No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
            
                        <!-- dateRecived Column -->
                        <ng-container matColumnDef="dateRecived">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date
                                Recived </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;text-align: center;">
                                {{element.dateRecived | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <!-- ProjectName Column -->
                        <ng-container matColumnDef="ProjectName">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Project Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
                        </ng-container>
            
                        <!-- financedBy Column -->
                        <ng-container matColumnDef="financedBy">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Financed By </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.financedBy}}
                            </td>
                        </ng-container>
            
                        <ng-container matColumnDef="region">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Region/Network </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.region}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="ipcinv">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> IPC /INV </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.ipcinv}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Type</th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.type}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="team">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Team
                            </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.team}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="dateToprocess">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date To
                                process </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.dateToprocess | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Status</th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.status}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="payDate">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Expexted Pay Date </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.payDate | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="counterAccount">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Counter
                                Account </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.counterAccount}} </td>
                        </ng-container>
            
            
                        <ng-container matColumnDef="teamLeader">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Team
                            </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.teamLeader}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="dateReturn">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px;text-align: center;"> Date
                                Return </th>
                            <td mat-cell *matCellDef="let element" style="width: 100px;">
                                {{element.dateReturn | date: 'MM/dd/yyyy'}} </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,
                    length]">
                    </mat-paginator>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <div style="width:2%">
    </div>
</div>

