<div class="container-fluid" style="height:83vh">

  <div class="row">
    <div class="col-sm-9 scroll-able">
      <app-contract-phase [triggerOpen]="triggerOpen"></app-contract-phase>
    </div>

    <!-- Information Panel column-->
    <div class="col-sm-3 ml-auto scroll-able">

      <!-- Information panel -->
      <app-basic-side-info></app-basic-side-info>

      <div class="mt-2" style="justify-content: space-around;display: flex;">
        <button class="btn btn-secondary" (click)="openContract()">Open another contract</button>
      </div>
    </div>
  </div>
</div>