<!-- Main container -->
<div class="container-fluid mt-2" style="height:83vh">

  <!-- Main row -->
  <div class="row">
    <!-- Deliverables column -->
    <div class="col-sm-8 scroll-able">

      <!-- Deliverables form and Phase Info container-->
      <div class="container">
        <h4 style="text-align:center;">Contract Deliverables</h4>

        <div class="row align-items-center">

          <div class="col-9">
            <form class="ml-4 mt-2 mb-2" [formGroup]="deliverablesFormGroup" novalidate style="width:100%">

              <div>
                <mat-form-field>
                  <mat-select placeholder="Select phase" formControlName="phaseControl">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let phase of contractService.contract.phases" [value]="phase.id">
                      {{phase.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="row align-items-center">
                <div class="col-sm-8">
                  <mat-form-field style="display:block">
                    <mat-select placeholder="Deliverable" id="deliverables" formControlName="deliverableControl">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let deliverableLookup of deliverableLookups" [value]="deliverableLookup.id">
                        {{deliverableLookup.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-sm-4 justify-content-left">
                  <button class="btn btn-secondary" (click)="createDeliverableLookup()">New</button>
                </div>
              </div>

              <div>
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Percentage of phase" value="0.00" formControlName="percentageControl">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="Monetary value" value="0.00" formControlName="monetaryValueControl">
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="col-3 info-panel">
            <label *ngIf="currentPhase && currentPhase.isAdvanceNotTaken" style="color:blue">Advance is not taken for this phase, The advance percentage should be distributed across all deliverable of this
              phase as agreed between ERA and Consultant. </label>
          </div>
        </div>

        <!-- Commands -->
        <div class="row justify-content-left m-2">
          <button mat-raised-button [disabled]="!getCanDelete()" color="warn" (click)="delete()">{{deleteResetLabel}}</button>
          <button mat-raised-button [disabled]="!deliverablesFormGroup.valid" class="ml-2" color="primary" (click)="save()">{{addAmendLabel}}</button>
        </div>

        <!-- Deliverables Table -->
        <div class="row">

          <div class="col-12 table-container">
            <mat-table #table [dataSource]="dataSource">

              <!-- name Column -->
              <ng-container matColumnDef="deliverable">
                <mat-header-cell *matHeaderCellDef> Deliverable </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deliverableLookup.description}} </mat-cell>
              </ng-container>

              <!-- date Column -->
              <ng-container matColumnDef="phase">
                <mat-header-cell *matHeaderCellDef> Phase </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contractPhase.name}}, {{element.contractPhase.description}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="percentage">
                <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phasePercentage}}% </mat-cell>
              </ng-container>

              <ng-container matColumnDef="monetaryValue">
                <mat-header-cell *matHeaderCellDef> Monetary Value taking into account adjustments for advance (ETB in '000') </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.monetaryValue | number:'1.0-0'}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>

      </div>
      <!-- End Deliverables container -->
    </div>

    <!-- Information Panel column-->
    <div class="col-sm-4 ml-auto scroll-able">

      <!-- Information panel -->

      <app-phase-side-info [programExists]="programExists" [phases]="contractService.contract.phases"></app-phase-side-info>

      <div class="mt-2" style="justify-content:space-around;display:flex;">
        <button class="btn btn-secondary" (click)="openContract(true)">Open another contract</button>
      </div>
    </div>

  </div>
</div>