<div class="info-panel" id="accordion" role="tablist">
  <!--  Contract Information -->
  <div class="card mt-2">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
          Contract Information
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <label class="card-subtitle mb-2 text-muted">
          <h6>Contract Name:</h6> {{contractService.contract.name}} </label>
        <hr>
        <label class="card-subtitle mb-2 text-muted">
          <h6>Consultant:</h6> {{ contractService.contract.consultantName }}</label>
        <hr>
        <label class="card-subtitle mb-2 text-muted">
          <h6>Contract Amount:</h6> {{contractService.contract.contractAmount | currency:'ETB '}}</label>
        <hr>
        <label class="card-subtitle mb-2 text-muted">
          <h6>Contract Phases:</h6>
          <span *ngIf="contractService.contract.grandTotal">
            {{contractService.contract.grandTotal | currency:'ETB '}}
          </span>
          <span *ngIf="!contractService.contract.grandTotal">
            Contract phases total not available yet
          </span>
        </label>
        <br><br>
        <div>
          <label class="card-subtitle mb-2 text-muted">
            <span style="color:red" *ngIf="!computeService.validatePhasesTotal()">
              {{computeService.getSumDifference() | currency:'ETB '}} remain to reach contract
              amount
              <hr>
            </span>
          </label>
        </div>

        <div *ngIf="deliverablesExist">
          <label style="color:red">Deliverables are present against these contract phases. You cannot edit contract phases before deleting the deliverables.
            </label>
        </div>
       
      </div>
    </div>
  </div>

</div>