<h4 style="text-align:center;">Supplemental Agreement</h4>
<div *ngIf="contractService.contract && contractService.contract.id">
  <p style="text-align:center;">
    <em>To: {{contractService.contract.name}}</em>
  </p>
  <p style="text-align:center;">
    <em>With: {{contractService.contract.consultantName}}</em>
  </p>
</div>

<form class="ml-4 mt-2 mb-2" [formGroup]="supplementFormGroup" novalidate style="width:100%;">

  <mat-form-field>
    <input autocomplete="off" autofocus matInput placeholder="Number" value="" formControlName="numberControl">
  </mat-form-field>

  <mat-form-field style="width:80%;display:block;">
    <input autocomplete="off" matInput placeholder="Name" value="" formControlName="nameControl">
  </mat-form-field>

  <mat-form-field>
    <input autocomplete="off" matInput [matDatepicker]="picker" placeholder="Agreement date" formControlName="agreementDateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width:80%;display:block;">
    <input autocomplete="off" matInput placeholder="Purpose" value="" formControlName="purposeControl">
  </mat-form-field>

</form>


<!-- Commands -->
<div class="row justify-content-left m-2">
  <button mat-raised-button color="secondary" (click)="back()">Back to supplements</button>
  <button mat-raised-button [disabled]="!getCanDelete()" class="ml-2" color="warn" (click)="deleteSupplement()">{{deleteResetLabel}}</button>
  <button mat-raised-button [disabled]="!supplementFormGroup.valid" class="ml-2" color="primary" (click)="saveSupplement()">{{addAmendLabel}}</button>
</div>