<div class="container-fluid" style="height:72vh">
  <div class="row">
    <div class="col-sm-8 mt-2">      
      <router-outlet></router-outlet>
    </div>

    <!-- Information Panel column-->
    <div class="col-sm-4 ml-auto mt-1 scroll-able">

      <!-- Information panel -->
      <app-supplement-side-info [supplements]="computeService.supplements"></app-supplement-side-info>

      <div class="mt-2" style="justify-content: space-around;display: flex;">
        <button class="btn btn-secondary" (click)="openContract(true)">Open another contract</button>
      </div>
      
    </div>
  </div>
</div>