<h2 matDialogTitle class="primary-color">Open Contract</h2>

<mat-dialog-content class="accent-color">
    <p></p>
    <mat-select placeholder="Contract" [(ngModel)]="selectedContract">
        <mat-option *ngFor="let contractName of contractNames" [value]="contractName">
            {{ contractName.value }}
        </mat-option>
    </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">OK</button>
    <button mat-raised-button (click)="close()">Cancel</button>
</mat-dialog-actions>
