<div class="embedded-component ml-2 mr-4">
  <h4 style="text-align:center;">Financial Deliverable Information</h4>

  <div class="row">

    <div class="col-sm-8">
      <form [formGroup]="contractInfoFormGroup" novalidate>
        <div class="row ml-1 mt-1">
          <mat-form-field>
            <input autocomplete="off" autofocus matInput placeholder="Phase Name" formControlName="nameControl">
          </mat-form-field>
        </div>

        <div class="row ml-1">
          <mat-form-field>
            <input autocomplete="off" matInput placeholder="Phase Description" formControlName="descriptionControl">
          </mat-form-field>
        </div>

        <div class="row ml-1">
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Choose start date" formControlName="startDateControl">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="ml-4">
            <input matInput [matDatepicker]="endDate" placeholder="Choose end date" formControlName="endDateControl">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row align-items-center ml-1">
          <mat-form-field>
            <input autocomplete="off" matInput placeholder="Lump Sum Amount" formControlName="lumpSumControl">
          </mat-form-field>
          <button class="mt-4 mb-4" (click)="openCurrencyDialog('Lump Sum')">...</button>

          <mat-form-field class="ml-5">
            <input autocomplete="off" matInput placeholder="Advance(%)" formControlName="advancePercentControl">
          </mat-form-field>
        </div>

        <div class="row align-items-center ml-1">
          <mat-form-field>
            <input autocomplete="off" matInput placeholder="Provisional Sum Amount" formControlName="provisionalSumControl">
          </mat-form-field>
          <button class="mt-4 mb-4" (click)="openCurrencyDialog('Provisional Sum')">...</button>

          <mat-form-field class="ml-5">
            <input autocomplete="off" matInput placeholder="Advance Amount" formControlName="advanceAmountControl">
          </mat-form-field>
        </div>

        <div class="row align-items-center ml-1">
          <mat-form-field>
            <input autocomplete="off" matInput placeholder="Reimbursable Amount" formControlName="reimbursableControl">
          </mat-form-field>
          <button class="mt-4 mb-4" (click)="openCurrencyDialog('Reimbursable')">...</button>

          <div class="mt-4 ml-5" style="display:inline">
            <mat-checkbox formControlName="advanceNotTakenControl">Advance not taken</mat-checkbox>
          </div>
        </div>
      </form>

      <div class="row justify-content-left m-2">
        <button mat-raised-button [disabled]="!getCanDelete()" color="warn" (click)="delete()">{{deleteResetLabel}}</button>
        <button mat-raised-button color="primary" [disabled]="!contractInfoFormGroup.valid" color="primary" class="ml-2" (click)="save()">{{addAmendLabel}}</button>
      </div>

    </div>

    <div class="col-sm-4 mt-1 gray-able">
      <div class="row">
        <mat-form-field class="ml-1">
          <input matInput [disabled]="true" placeholder="Phases Total" value="{{contractService.contract.phasesTotal | currency:'ETB '}}">
        </mat-form-field>
      </div>

      <div class="row mt-1">
        <mat-form-field class="ml-1">
          <input matInput [disabled]="true" placeholder="VAT" value="{{contractService.contract.vat | currency:'ETB '}}">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="ml-1">
          <input matInput [disabled]="true" placeholder="Total" value="{{contractService.contract.grandTotal | currency:'ETB '}}">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-1">
          <input matInput [disabled]="true" placeholder="Advance Amount" value="{{contractService.contract.advanceAmount | currency:'ETB '}}">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row table-container mt-3">
    <mat-table #table [dataSource]="dataSource" style="width:100%">

      <ng-container matColumnDef="belongsTo">
        <mat-header-cell *matHeaderCellDef> Belongs to </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.belongsTo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phaseName">
        <mat-header-cell *matHeaderCellDef> Phase Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phaseDescription">
        <mat-header-cell *matHeaderCellDef> Phase Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lumpSum">
        <mat-header-cell *matHeaderCellDef> Lump Sum (ETB in '000) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lumpSum/1000 | number:'1.0-0'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reimbursable">
        <mat-header-cell *matHeaderCellDef> Reimbursable (ETB in '000) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reimbursable/1000 | number:'1.0-0'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="provisionalSum">
        <mat-header-cell *matHeaderCellDef> Provisional Sum (ETB in '000)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.provisionalSum/1000 | number:'1.0-0'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="advance">
        <mat-header-cell *matHeaderCellDef> Advance (ETB in '000)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.advanceAmount/1000 | number:'1.0-0'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngStyle]="setRowStyles(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>