<h2 style="text-align: center">Add Role</h2>
<mat-dialog-content class="accent-color">
    <p></p>
    <mat-select placeholder="UserName ">
        <mat-option >
          
        </mat-option>
    </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="close()">OK</button>
    <button mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>