/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@progress/kendo-theme-default/dist/all.css";

/* @import "../node_modules/bootstrap/dist/js/bootstrap.min.js"; */

/* TODO: MatSnackbar styles couldn't be compartmentalized in ap componet */
.color-error {
    background: red;
}

.color-warning {
    background: orange;
}

.color-message {
    background: #3F51B5;
}
/* ************* */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
