<div class="embedded-component ml-2 mr-4">

  <div class="col-sm-12">
    <div class="mt-3" *ngFor="let phase of phases">
      <mat-accordion expanded="false">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h5 class="mt-2">{{phase.name}} from {{phase.belongsTo}}</h5>
            </mat-panel-title>
            <mat-panel-description>
              <h6 class="mt-2">{{phase.description}}</h6>
            </mat-panel-description>
            <div class="ml-3" style="display:inline">
              <button mat-icon-button aria-label="Edit deliverables" (click)="editDeliverable(phase)">
                <mat-icon aria-label="add" aria-hidden="true">edit</mat-icon>
              </button>
            </div>
          </mat-expansion-panel-header>

          <p class="card-text">Start {{phase.startDate | date }} - End {{phase.endDate | date }}</p>

          <div>
            <h6>Deliverables</h6>

            <div class="mt-3" *ngFor="let deliverable of phase.deliverables">
              <div class="card">
                <h5 class="card-header">{{deliverable.deliverableLookup.description}}</h5>
                <div class="card-body">
                  <h5 class="card-title">

                  </h5>
                  <div class="card-text">
                    <p>
                      Proportion of Phase: {{deliverable.phasePercentage }}%
                    </p>
                    <p>
                      Monetary value {{deliverable.monetaryValue | number:'1.2-2' }}
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="!contractService.contract.phases">
      <p style="color:red">No contract phases to list</p>
    </div>
  </div>
</div>