<div class="row m-2">

  <div class="col-sm-4 card text-center">
    <div class="card-header">
        Performance Against Plan (PAP)
    </div>
    <div class="card-body">
      <h5 class="card-title">{{pap.score | number:'1.0-1'}}%</h5>
      <p class="card-text">Based on original activity schedule adjusted for supplements</p>
    </div>
    <div class="card-footer text-muted">
        <label class="card-subtitle mb-2 text-muted" *ngIf="pap.score; else elseBlock">Last Computed on {{pap.computeDate | date}}</label>
        <ng-template #elseBlock><div style="color:red">{{pap.message}}</div></ng-template>
     
    </div>
  </div>

  <div class="col-sm-8">
      <kendo-chart>
          <kendo-chart-value-axis>
              <kendo-chart-axis-defaults>
                  <kendo-chart-axis-defaults-labels format="N0">
                  </kendo-chart-axis-defaults-labels>
              </kendo-chart-axis-defaults>
          </kendo-chart-value-axis>
          <kendo-chart-series>
              <kendo-chart-title text="Consultant's Activity Schedule (In ETB '000')"></kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal">Activity Schedule</kendo-chart-legend>
              <kendo-chart-series-item type="line" [data]="programData" field="contractAmountToDate" categoryField="date" [labels]="{ format: 'N'}">
                  <kendo-chart-series-item-tooltip format="ETB {0:N0}">
                  </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
              <kendo-chart-series-item type="line" [data]="progressData" field="contractAmountToDate" categoryField="assessmentDate" [labels]="{ format: 'N'}">
                  <kendo-chart-series-item-tooltip format="ETB {0:N0}">
                  </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
          </kendo-chart-series>
      
          <kendo-chart-category-axis>
              <kendo-chart-category-axis-item [maxDivisions]="12" [labels]="{ format: 'dd-MMM-yy', rotation: '-90' }">
              </kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
      </kendo-chart>
  </div>
</div>