<h2 style="text-align: center">New Financed By name</h2>
<form [formGroup]="newFinancedbyForm">
 <div>
    <mat-form-field>
      <input matInput placeholder="Financed By *" type="text" class="example-right-align"
        formControlName="financedBynameControl">
    </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="No of Espected Date to Process *" type="text" class="example-right-align"
      formControlName="noexpectedDateToProcessControl">
  </mat-form-field>
</div>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"  (click)="save()">{{addAmendLabel}}</button>
    <button mat-button (click)="close()">Cancel</button>
  </mat-dialog-actions>
</form>